services:
  postgres:
    image: postgres:17.5-alpine
    container_name: postgres-demo
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: demo
    command: 
      - postgres 
      - -cmax_connections=1000
      - -cshared_buffers=4GB
      - -ceffective_cache_size=8GB
      - -cwork_mem=16MB
      - -cmaintenance_work_mem=1GB
      - -cwal_buffers=16MB
      - -cmax_parallel_workers_per_gather=4
      - -cmax_worker_processes=16
      - -cmax_parallel_workers=1
    shm_size: 4gb
    mem_limit: 16g
    mem_reservation: 4g
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  pgcat:
    image: ghcr.io/postgresml/pgcat:latest
    container_name: pgcat-demo
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - "6432:6432"
    volumes:
      - ./pgcat.toml:/etc/pgcat/pgcat.toml:ro

  go-pq:
    image: jimtang2/benchmarks/go-pq
    build:
      context: .
      dockerfile: ./go/Dockerfile
      args:
        SOURCE_PATH: go/pq
    container_name: bench-go-pq
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
    depends_on:
      - postgres

  go-pgx:
    image: jimtang2/benchmarks/go-pgx
    build:
      context: .
      dockerfile: ./go/Dockerfile
      args:
        SOURCE_PATH: go/pgx
    container_name: bench-go-pgx
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
    depends_on:
      - postgres

  go-pgx-opt:
    image: jimtang2/benchmarks/go-pgx-opt
    build:
      context: .
      dockerfile: ./go/Dockerfile
      args:
        SOURCE_PATH: go/pgx-opt
    container_name: bench-go-pgx-opt
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
    depends_on:
      - postgres

  go-pgx-opt-pool:
    image: jimtang2/benchmarks/go-pgx-opt
    build:
      context: .
      dockerfile: ./go/Dockerfile
      args:
        SOURCE_PATH: go/pgx-opt
    container_name: bench-go-pgx-opt-pool
    ports:
      - "8080:8080"
    volumes:
      - ./config.with-pool.yaml:/config/config.yaml
    depends_on:
      - postgres


  # express:
  #   build:
  #     context: .
  #     dockerfile: ./docker/express.dockerfile
  #   container_name: bench-express
  #   ports:
  #     - "9991:8080"
  #   volumes:
  #     - ./config.yaml:/config/config.yaml
  #   depends_on:
  #     - postgres

  # fastapi:
  #   build:
  #     context: .
  #     dockerfile: ./docker/fastapi.dockerfile
  #   container_name: bench-fastapi
  #   ports:
  #     - "9992:8080"
  #   volumes:
  #     - ./config.yaml:/config/config.yaml
  #   depends_on:
  #     - postgres

  # next:
  #   build:
  #     context: .
  #     dockerfile: ./docker/next.dockerfile
  #   container_name: bench-next
  #   ports:
  #     - "9994:8080"
  #   volumes:
  #     - ./config.yaml:/config/config.yaml
  #   depends_on:
  #     - postgres

  # springboot:
  #   build:
  #     context: .
  #     dockerfile: ./docker/springboot.dockerfile
  #   container_name: bench-springboot
  #   ports:
  #     - "9995:8080"
  #   volumes:
  #     - ./config.yaml:/config/config.yaml
  #   depends_on:
  #     - postgres

