services:
  postgres:
    image: postgres:17.5-alpine
    container_name: postgres-demo
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: demo
    command: 
      - postgres 
      - -cmax_connections=1000
      - -cshared_buffers=4GB
      - -ceffective_cache_size=8GB
      - -cwork_mem=16MB
      - -cmaintenance_work_mem=1GB
      - -cwal_buffers=16MB
      - -cmax_parallel_workers_per_gather=4
      - -cmax_worker_processes=16
      - -cmax_parallel_workers=1
    shm_size: 4gb
    mem_limit: 24g
    mem_reservation: 4g
    volumes:
      - ./sql:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  pgcat:
    image: ghcr.io/postgresml/pgcat:latest
    container_name: pgcat-demo
    restart: unless-stopped
    depends_on:
      - postgres
    ports:
      - "6432:6432"
    volumes:
      - ./pgcat.toml:/etc/pgcat/pgcat.toml:ro

  go-pq:
    image: jimtang2/benchmarks/go-pq
    build:
      context: .
      dockerfile: ./go/Dockerfile
      args:
        SOURCE_PATH: go/pq
    container_name: bench-go-pq
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
    depends_on:
      - postgres

  go-pgx:
    image: jimtang2/benchmarks/go-pgx
    build:
      context: .
      dockerfile: ./go/Dockerfile
      args:
        SOURCE_PATH: go/pgx
    container_name: bench-go-pgx
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
    depends_on:
      - postgres

  go-pgx-opt:
    image: jimtang2/benchmarks/go-pgx-opt
    build:
      context: .
      dockerfile: ./go/Dockerfile
      args:
        SOURCE_PATH: go/pgx-opt
    container_name: bench-go-pgx-opt
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
    depends_on:
      - postgres

  go-pgx-opt-pool:
    image: jimtang2/benchmarks/go-pgx-opt
    build:
      context: .
      dockerfile: ./go/Dockerfile
      args:
        SOURCE_PATH: go/pgx-opt
    container_name: bench-go-pgx-opt-pool
    ports:
      - "8080:8080"
    volumes:
      - ./config.with-pool.yaml:/config/config.yaml
    depends_on:
      - postgres

  fastapi-asyncpg:
    image: jimtang2/benchmarks/fastapi-asyncpg
    build:
      context: .
      dockerfile: ./fastapi/Dockerfile
      args:
        SOURCE_PATH: fastapi/asyncpg
    container_name: bench-fastapi-asyncpg
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
    depends_on:
      - postgres

  fastapi-psycopg:
    image: jimtang2/benchmarks/fastapi-psycopg
    build:
      context: .
      dockerfile: ./fastapi/Dockerfile
      args:
        SOURCE_PATH: fastapi/psycopg
    container_name: bench-fastapi-psycopg
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
    depends_on:
      - postgres

  fastapi-psycopg-pool:
    image: jimtang2/benchmarks/fastapi-psycopg
    build:
      context: .
      dockerfile: ./fastapi/Dockerfile
      args:
        SOURCE_PATH: fastapi/psycopg
    container_name: bench-fastapi-psycopg-pool
    ports:
      - "8080:8080"
    volumes:
      - ./config.with-pool.yaml:/config/config.yaml
    depends_on:
      - postgres

  express-node-postgres:
    image: jimtang2/benchmarks/express
    build:
      context: .
      dockerfile: ./express/Dockerfile
      args:
        SOURCE_PATH: express/node-postgres
    container_name: bench-express-node-postgres
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
    depends_on:
      - postgres

  express-porsager-postgres:
    image: jimtang2/benchmarks/express
    build:
      context: .
      dockerfile: ./express/Dockerfile
      args:
        SOURCE_PATH: express/porsager
    container_name: bench-express-porsager-postgres
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
    depends_on:
      - postgres

  express-porsager-postgres-pool:
    image: jimtang2/benchmarks/express
    build:
      context: .
      dockerfile: ./express/Dockerfile
      args:
        SOURCE_PATH: express/porsager
    container_name: bench-express-porsager-pool
    ports:
      - "8080:8080"
    volumes:
      - ./config.with-pool.yaml:/config/config.yaml
    depends_on:
      - postgres

  next:
    image: jimtang2/benchmarks/next
    build:
      context: .
      dockerfile: ./next/Dockerfile
    container_name: bench-next
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
    depends_on:
      - postgres

  spring:
    image: jimtang2/benchmarks/spring
    build:
      context: .
      dockerfile: ./spring/Dockerfile
    container_name: bench-spring
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      - SPRING_R2DBC_URL=r2dbc:postgresql://postgres:password@postgres:5432/demo
      - JAVA_TOOL_OPTIONS= \
        -XX:+UseZGC \
        -XX:+ZGenerational \
        -XX:+UnlockExperimentalVMOptions \
        -XX:+UseTransparentHugePages \
        -XX:MaxRAMPercentage=85 \
        -Dreactor.netty.ioWorkerCount=8 \
        -Dreactor.netty.ioSelectCount=8 \
        -Dio.netty.eventLoopThreads=8

  spring-pool:
    image: jimtang2/benchmarks/spring
    build:
      context: .
      dockerfile: ./spring/Dockerfile
    container_name: bench-spring-pool
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    environment:
      - SPRING_R2DBC_URL=r2dbc:postgresql://postgres:password@pgcat:6432/demo
      - JAVA_TOOL_OPTIONS=-XX:+UseZGC -XX:+ZGenerational -XX:+UnlockExperimentalVMOptions -XX:+UseTransparentHugePages -XX:MaxRAMPercentage=85 -Dreactor.netty.ioWorkerCount=8 -Dreactor.netty.ioSelectCount=8 -Dio.netty.eventLoopThreads=8

  hono:
    image: jimtang2/benchmarks/hono
    build:
      context: .
      dockerfile: ./hono/Dockerfile
    container_name: bench-hono
    ports:
      - "8080:8080"
    volumes:
      - ./config.yaml:/config/config.yaml
    depends_on:
      - postgres
